streamlit
pandas
numpy
PyYAML
yfinance
matplotlib # Assuming you use this in your src.viz
reportlab
openpyxl
pyyaml
prophet
plotly        # Assuming you use this in your src.viz    # Assuming you use this in your src.viz
